doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Project Santis 
	// CSS overrides - remove if you don't need it
	//-link(rel='stylesheet' href='css/app.css')
	body
		h1 Hello world form santis
#container
		form#item_add(hx-post="/test", hx-target="#tester")
			input.item_name(name="item_name", placeholder="Item Name")
			input.size(name="size", placeholder="Size")
			input.weight(name="weight", placeholder="Weight")
			input.value(name="value", placeholder="Value")
			label.pack  Packed
			input.packed(name="packed", type="checkbox", placeholder="Packed")
			label.category Category
			select.cat(form="item_add", name="category")
				each cat in cats 
					option(value=cat)=cat
			input.sub_cat(name="sub_category", placeholder="Sub-Category")
			.edit-buttons
			button.edit-button(type='submit') Ping
#tester



		script(src='https://unpkg.com/htmx.org@1.3.1')
		script(src="https://unpkg.com/hyperscript.org@0.0.8")
