doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Project Santis 
		link(rel='stylesheet' href='css/app.css')
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
	body
	div
		ul
			li 
				a(href="/") Home
			li
				a(href="/list") List
			li.Heading
				a Project Santis
#container
		form#item_add(hx-post="/items", hx-target="#status" )
			div.form_input
				div.label
					label.form_label Item Name 
				input#item_name(name="item_name", placeholder="Item Name" onkeypress="return tabE(this,event)")
			div.form_input#cat
				label.form_label Size 
				select#size(form="item_size", name="Size")
					each size in sizes 
						option(value=size)=size
			div.form_input
				div.label
					label.form_label Item Weight 
				input#weight(name="weight", placeholder="Weight" onkeypress="return tabE(this,event)")
			div.form_input
				div.label
					label.form_label Item Value 
				input#value(name="value", placeholder="Value" onkeypress="return tabE(this,event)")
			div.form_input#packedin
				label.form_label Packed
				div#packed_around
					input#packed(name="packed", type="checkbox", placeholder="Packed" onkeypress="return tabE(this,event)")
			div.form_input#cat
				label.form_label Category
				select#category(form="item_add", name="category" onkeypress="return tabE(this,event)")
					each cat in cats 
						option(value=cat)=cat
			div.form_input
				div.label
					label.form_label Sub Category
				input#sub_cat(name="sub_category", placeholder="Sub-Category" onkeypress="return tabE(this,event)")
			.edit-buttons
			button.edit-button Add Item 


#status
	include includes/enter_message

script(src='https://unpkg.com/htmx.org@1.3.1')
script(src="https://unpkg.com/hyperscript.org@0.9.12")
script(type="text/javascript" src="./script.js")
