<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><title>Project Santis </title>
		<link rel="stylesheet" type="text/css" href="assets/css/app.css">
		<link rel="stylesheet" type="text/css" href="assets/css/list.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@3.17.6/dist/css/uikit.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"></head>
<body>
	<div>
		<ul>
			<li><a href="/" >Home</a> </li>
			<li><a href="/list" >List</a> </li>
			<li><a href="/boxes" >Box</a> </li>
			<li class="Heading"><a>Project Santis</a> </li>
		</ul>
	</div>
	<div id="table_main">
		<h3> 
			Search Items 
			<span class="htmx-indicator"> 
				Searching... 
			</span> 
		</h3>
		<form id="form_search" 
		hx-post="/search" 
		hx-target="#search-results" 
		hx-indicator=".htmx-indicator">

		<input type="search" name="search" 
		placeholder="Begin Typing To Search Items..." >
		<label class="form_label">Box Num</label>
		<select id="box_num_select" name="box_num">
			{% for box in boxs %}
				<option value={{box}}>{{box}}</option>
			{% endfor %}
		</select>
		<button type="submit">Search</button>
		</form>

		<table class="table-row-edit">
			<thead>
				<tr>
					<th>Name</th>
					<th>Category</th>
					<th>Box Number</th>
					<th> </th>
				</tr>
			</thead>
			<tbody id="search-results" hx-target="closest tr" hx-swap="outerHTML">
				{% include "includes/search_template.html" %}
			</tbody>
		</table>
	</div>
	<div id="modals-here">
	</div>
</body>

<script src="https://unpkg.com/htmx.org@1.3.1"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.17.6/dist/js/uikit-icons.min.js"></script>
</html>
